@font-face {
    font-family: 'CyberpunkWaifus';
    src: url('CyberpunkWaifus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #000;
  max-width: 100%;
  max-height: 100%;
  color: #19001D;
  overflow-x: hidden;
  font-family: 'CyberpunkWaifus';
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
  color: #19001D;
}

pre {
  font-family: 'CyberpunkWaifus';
}

#logo {
	margin-bottom: 15px;
}

#banner {
  background-color: #5D0B31;
  width: 100%;
  height: 70px;
}

#postcontainer {
  background-color: #E8C8CB;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 100%;
}

#bodycontainer {
  max-width: 400px;
  width: auto;
  display: table;
  margin: 0 auto;
}

#articlecontainer {
  text-align: left;
  margin-left: 5px;
}

.meta {
	font-size: small;
}

.post {
  font-size: 18px;
}

.title {
  font-size: 26px;
}

.author {
  color: #ED145B;
}

.label {
  color: #FFF;
}
