<!DOCTYPE HTML>
<html>
  <head>
    <title><%= Config.get["name"]%> - Author Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>

  <body>
    <div id="bodycontainer">
      <a href="/"><img src="/static/augmented.png" alt="Augmented" id="logo" /></a>
      <div id="postcontainer"><br>
        <div class="title">Hello <%= session[:author] %>.</div>
        <a href="/post">Post an article</a><br>
        <a href="/logout">Log out</a><br><br>
      </div>
    </div>
  </body>
</html>
