<!DOCTYPE HTML>
<html>
  <head>
    <title>Author Login - The Augmented Eye</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>

  <body>
    <div id="bodycontainer">
      <img src="/static/augmented.png" alt="Augmented" id="logo" />
      <div id="postcontainer">
        <form action="/author" method="post" id="articlecontainer"><br>
          <span>Login:&nbsp;<input type="text" name="login" value=""></span><br>
          <span>Password:&nbsp;<input type="password" name="passwd" value=""></span><br><br>
          <input style="float: right;" type="submit" name="end" value="Sign in"><br>
        </form><br>
      </div>
    </div>
  </body>
</html>
