<!DOCTYPE HTML>
<html>
  <head>
    <title>The Augmented Eye - Post an Article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>

  <body>
    <div id="bodycontainer" style="max-width: 550px;">
      <img src="/static/augmented.png" alt="Augmented" id="logo" />
      <div id="postcontainer">
        <form action="/post" method="post" id="articlecontainer"><br>
          <input type="text" name="title" value="" style="float: left; width: 290px;">&nbsp;<span>Title</span><br><br>
          <input type="text" name="author" value="" style="float: left;">&nbsp;<span style="float: left;">Author</span>
          <input type="text" name="attach" value="" style="float: right;">&nbsp;<span style="float: right;">Image link</span><br><br>
          <input type="text" name="tagline" value="" style="float: left; width: 290px;">&nbsp;<span>Tagline</span><br><br><span>Post body</span>
          <textarea rows="5" cols="50" style="display: block; margin-right: 10px; width: 290px; height:100px;" name="body"></textarea><br>
          <input type="text" name="tag" value="" style="float: left;">&nbsp;<span>Tag</span>
          <input type="submit" name="submit" value="Send" style="float: right;"><br><br>
        </form><br>
      </div>
    </div>
  </body>
</html>
